<div class="well" id="menu_font" style="font-size: 20px;" >
  <center>보낸 메시지 내용이 확인 가능합니다.<br>
  메시지 확인페이지로 돌아가려면 아래의 메인으로가기 버튼을 눌러주세요.</center>
</div>
<br>

<div class="container">
<div class="row">

<div class="col-md-4"></div>

<div class="col-md-4">
  <div id="menu_font" style="font-size: 20px;">보내는 사람 : </div>
  <div id="menu_font_t" style="font-size: 18px;"><%=User.find(@message.sender).student_name%> (<%=User.find(@message.sender).student_number%>)<br><br>
  </div>
   
  <div id="menu_font" style="font-size: 20px;">받는 사람 : </div>
  <div id="menu_font_t" style="font-size: 18px;"><%=User.find(@message.receiver).student_name%> (<%=User.find(@message.receiver).student_number%>)<br><br>
  </div>
  
  <div id="menu_font" style="font-size: 20px;">보낸 시간 : </div>
  <div id="menu_font_t" style="font-size: 18px;"><%=@message.created_at%><br><br>
  </div>
  
  <div id="menu_font" style="font-size: 20px;">내용 :</div>

  
  <pre id="menu_font_t" style="font-size: 18px;"><%=@message.content%></pre><br>
  
    
  <a href="/book/mypage" class="btn btn-primary btn-sm" style="font-size: 18px;" id="menu_font">마이페이지로 가기</a>
    <% if @message.receiver==current_user.id%>
      <a href="/message/write" class="btn btn-primary btn-sm" style="font-size: 18px;" id="menu_font">답장보내기</a>
    <%end%>

</div>

<div class="col-md-4"></div>

</div></div>

<br><br><br><br>
