
<div class="well" id="menu_font" style="font-size: 20px;" >
  <center><%=@date.to_date.year%>년 <%=@date.to_date.month%>월 <%=@date.to_date.day%>일<br><%=@class.building_name%> '<%=@class.room_number%>호'에 대한 예약현황입니다.
  <br><div style="color:gray">(예약 현황을 볼 날짜를 선택해주세요)</div>
  <a href="/book/booking?id=<%=@class.id%>&date=<%=@date%>" class="btn btn-warning" id="menu_font" style="font-size: 20px;">예약하기</a></center>
</div>
<br>

<div class="containter" > 
<div class="row" style="padding-bottom:200px">

<div class="col-md-3 col-md-offset-1">

  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title" id="menu_font" style="font-size:18px;"><center>날짜별 예약 현황 검색</center></h3>
    </div>
    <div class="panel-body">
      <center>
      <!--<div class="well">-->
        <form action="/book/view_booking" method="POST">
          <input type="date" name="date" id="menu_font" style="font-size:18px;" required> 
          <input type="hidden" name="id" value="<%=@class.id%>" id="menu_font" style="font-size:18px;"> 
          <button type="submit"class="btn btn-primary btn-sm" id="menu_font" style="font-size:18px;">날짜 검색</button>
        </form>
      <!--</div>-->
       </center>
    </div>
  </div>
  
  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title" id="menu_font" style="font-size:18px;"><center><%=@class.building_name%> <%=@class.room_number%>호 예약 시간 점유율</center></h3>
    </div>
    <div class="panel-body">
      <center>
      <div class="progress">
        <% @all_reservation_width=0 %>
        <!--전체 넓이 구하기-->
        <% @class.reservations.where(date: @date.to_date).each do |c| %> 
          <% @all_reservation_width = @all_reservation_width+(c.finish_time-c.start_time)/3600%>
        <%end%>
        
        <%#=@all_reservation_width.to_i시간!%>
        <!--프로그래스바 색깔!(고정적)-->
        <% @progress_color=["progress-bar progress-bar-success","progress-bar progress-bar-info","progress-bar progress-bar-warning","progress-bar progress-bar-danger"]%>
        
        <% @class.reservations.where(date: @date.to_date).order(:start_time).each do |c| %> 
        <!--시간순서별로!-->
          <% @reservation_width = (c.finish_time-c.start_time)/3600 %>
          <!--예약별로 시간단위로 나눔!-->
            <div id="reservation_progress" class="<%=@progress_color[c.id%4]%>" role="progressbar" aria-valuenow="<%=@reservation_width%>" aria-valuemin="0" aria-valuemax="<%=@all_reservation_width%>" style="width: <%=(@reservation_width / @all_reservation_width)*100%>%">
            
              <%=User.find(c.user).student_name %> 
              <span class="badge"><%=@reservation_width%>시간</span> 
              <a data-toggle="modal" href="#show<%=c.id%>"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></a>
            
            </div>
        <%end%>
      
    </div>
       </center>
    </div>
  </div>
</div>

  
 


<div class="col-md-7 col-md-offset-0">
  <table class="table table-striped table-hover "><center>
    <thead>
      
      <tr class="info" style="text-align: center; font-size: 18px;" id="menu_font_t">
        
        <th>#</th>
        <th>사용자 이름</th>
        <th>사용날짜</th>
        <th>사용시간</th>
        <th>[승인여부]</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @class.reservations.where(date: @date.to_date).order(:start_time).each do |c| %>
          <tr>
            
            <td style="text-align: center; font-size: 16px;" id="menu_font_t"><%=c.id%></td>
            <td style="text-align: center; font-size: 16px;" id="menu_font_t"><%=User.find(c.user).student_name %> (<%=User.find(c.user).student_number %>)</td>
            <td style="text-align: center; font-size: 16px;" id="menu_font_t"><%=c.date%></td>
            <td style="text-align: center; font-size: 16px;" id="menu_font_t"><%=c.start_time.utc.to_s(:time)%> ~ <%=c.finish_time.utc.to_s(:time)%></td>
            
            
              <% if current_user %> <!--로그인 된 상태.-->
                
                <%  if current_user.email == "admin@kangwon.ac.kr" %> <!--관리자일때 승인하기-->
                  
                  <% if c.state=="승인대기" %>
                    <!--<input onclick="change(<=c.id%>)" type="button" value="승인하기" id="button<=c.id%>"></input>-->
                    
                    <td><span class="label label-info" id="view_state<%=c.id%>" value="<%=c.state%>"><%=c.state%></span></td>    <!--현재 진행상태 보여줌-->
                    <div id = "menu_font">
                    <td><button type="button" class="btn btn-success btn-primary" id="button<%=c.id%>" onclick="change(<%=c.id%>)" style="font-size: 16px;">승인하기</button></td>
                    </div>
                    
                  <% else %>
                    <!--<input onclick="change(%=c.id%>)" type="button" value="승인취소" id="button%=c.id%>"></input>-->

                    
                    <td><span class="label label-primary" id="view_state<%=c.id%>" value="<%=c.state%>"><%=c.state%></span></td> 
                    <div id = "menu_font">  
                      <td><button type="button" class="btn btn-danger btn-primary" id="button<%=c.id%>" onclick="change(<%=c.id%>)" style="font-size: 16px;">승인취소</button></td>
                    </div>

                  <!--<input class="btn btn-primary btn-sm" onclick="change()" value="승인하기" id="<=c.id%>"></input>-->
                    
                  <%end%>
                                
                <% end %>
                                 
              <% end %> <!-- if current_user end -->
                    
<script type="text/javascript">
  
  function change(reservation_id){
        
        var button="button" + reservation_id;
        var button1="button1" + reservation_id;
        var view_state="view_state" + reservation_id;
        var re_state=document.getElementById(view_state).innerHTML;
        
        if (re_state == "승인대기")//승인대기라면
          //상태표시 바꾸고 버튼 텍스트도 바꿔줘야한다 db도!
          $.ajax({
            data: {
              reservation_num: reservation_id,
              state: "승인완료"
            },
            url: "/book/update_state",
            success: function(){
              // alert("db 저장 완료");
              document.getElementById(view_state).innerHTML="승인완료";
              document.getElementById(button).innerHTML="승인취소";
              document.getElementById(button1).innerHTML="승인취소";
  
              document.getElementById(view_state).className="label label-primary";
              document.getElementById(button).className="btn btn-danger btn-primary";
              document.getElementById(button1).className="btn btn-danger btn-primary";
            },
            error:function(request,status,error){
            alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
            }
          });
          //db 바꿔줌
        
        else
          $.ajax({
            data: {
              reservation_num: reservation_id,
              state: "승인대기"
            },
            url: "/book/update_state",
            success: function(){
              // alert("db 저장 완료");
              document.getElementById(view_state).innerHTML="승인대기";
              document.getElementById(button).innerHTML="승인하기";
              document.getElementById(button1).innerHTML="승인하기";
              
              document.getElementById(view_state).className="label label-info";
              document.getElementById(button).className="btn btn-success btn-primary";
              document.getElementById(button1).className="btn btn-success btn-primary";
            },
            error:function(request,status,error){
            alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
            }
          });
          
          
  };

</script>
            </td>
               
            <td><button class="btn btn-primary" data-toggle="modal" data-target="#show<%=c.id%>"
            style="text-align: center; font-size: 16px;" id="menu_font">상세보기</button></td>
            
            <td>
            <% if current_user %>

               <% if User.find(c.user).email == current_user.email %>
                <button class="btn btn-danger btn-primary" data-toggle="modal" data-target="#show_check<%=c.id%>" 
                style="text-align: center; font-size: 16px;" id="menu_font">예약취소</button>
           
               <%end%>
            
            <% end %>
            
            </td>
          </tr>

      <% end %>
    </tbody>
  </center></table> 
</div>
</div> <!--row의 div>


<% @class.reservations.where(date: @date.to_date).each do |c| %><!--예약취소 모달-->

<div id="show_check<%=c.id%>" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel" id="menu_font">예약 취소</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="recipient-name" class="control-label" style="font-size:16px;">예약을 취소하시겠습니까?</label>
        </div>
      <div class="modal-footer">
            <form action="/book/delete/<%=c.id%>" method="POST">
            <button type="button" class="btn btn-default" data-dismiss="modal" id="menu_font">Close</button>
              <button type="submit" class="btn btn-danger" id="menu_font" style="font-size:16px;">취소하기</button>
            </form>
      </div>
      </div>
    </div>
  </div>
</div>


      
          
<div id="show<%=c.id%>" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"><!--예약상세보기-->
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel"> 예약 상세 보기</h4>
      </div>
      <div class="modal-body">
        
        <div class="form-group">
          <label for="recipient-name" class="control-label" style="font-size: 16px;">사용자 : </label>
          <span id="menu_font_t" style="font-size: 16px;">
          <%=User.find(c.user).student_name %> (<%=User.find(c.user).student_number %>)
          </span>
        </div>
        
        <div class="form-group">
          <label for="recipient-name" class="control-label" style="font-size: 16px;">담당교수 : </label>
          <span id="menu_font_t" style="font-size: 16px;">
          <%=c.professor%>            
          </span>
        </div>
        
        <div class="form-group">
          <label for="recipient-name" class="control-label" style="font-size: 16px;">사용날짜 : </label>
          <span id="menu_font_t" style="font-size: 16px;">
          <%=c.date%>
          </span>
        </div>
        
        <div class="form-group">
          <label for="recipient-name" class="control-label" style="font-size: 16px;">사용시간 : </label>
          <span id="menu_font_t" style="font-size: 16px;">
          <%=c.start_time.utc.to_s(:time)%> ~ <%=c.finish_time.utc.to_s(:time)%>
          </span>
        </div>
        
        <div class="form-group">
          <label for="recipient-name" class="control-label" style="font-size: 16px;">사용목적 : </label>
           <span id="menu_font_t" style="font-size: 16px;">
          <%=c.purpose%>
          </span>
        </div>
        
        
      </div>
      
      
      <div class="modal-footer" id="menu_font" style="font-size:18px;">
        <button type="button" class="btn btn-default" data-dismiss="modal" id="menu_font">Close</button>
      <% if current_user.email == "admin@kangwon.ac.kr" %>
        <button type="button" class="btn btn-success btn-primary" id="button1<%=c.id%>" onclick="change(<%=c.id%>)">승인하기</button>
      <% end %>  
      </div>
    </div>
  </div>
</div>
</div>
<%end%>