<div class="well" id="menu_font" style="font-size: 20px;" >
   <center>로그인 페이지입니다.<br>
   회원가입 하실 때 기입하신 이메일 정보와 비밀번호를 입력해주세요.<br>
   (비밀번호를 잊으신 경우에는 아래의 링크를 통하여 비밀번호를 찾아주시기 바랍니다.)</center>
</div>
<br>

<center>
<div id = "menu_font" style="font-size:30px"><span class="glyphicon glyphicon-pencil" style="color:red" aria-hidden="true"></span> &nbsp;로그인
<br><br>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field" id = "menu_font_t" style = "font-size:20px;">
    <%= f.label :email,"이메일" %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>
  <br>

  <div class="field" id = "menu_font_t" style = "font-size:20px;">
    <%= f.label :password, "비밀번호" %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>
  
  <% if devise_mapping.rememberable? -%>
   <div class="field" id = "menu_font_t" style="font-size: 18px;margin-top: 10px;">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me, "로그인 상태 유지" %>
  </div>
  <% end -%>
  <br>

  <div class="actions" id = "menu_font" style = "font-size:25px">
    <input type="submit" name="commit" value="로그인" style="height: 40px; width: 300px; background-color: #FFFFFF;">
   <%#= f.submit "로그인" %> 
  </div>

<% end %>
<%= render "devise/shared/links" %>

</center>
<br><br>