<!DOCTYPE html>
<html style="margin-top: 100px;">
<head>
  <link rel="shortcut icon" type="image/x-icon" href="http://i.imgur.com/7lrK4dl.png" />
  <title>강인(강원대학교 '강의실 예약 서비스')</title>

  <%= stylesheet_link_tag    'application'%>
  <%= javascript_include_tag 'application'%>

  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

  <!--지연스 .js-->
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <%= csrf_meta_tags %>

    <!--디자인 css-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <!--Font css-->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/earlyaccess/jejugothic.css">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/earlyaccess/jejugothic.css">

    <!--Smooth Scroll-->
    <!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>-->
    <!--<script src="http://fatlinesofcode.github.io/jquery.smoothwheel/src/jquery.smoothwheel.js"></script>-->

    <!--달력-->
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" />
 </head>

<body>

  <!--메뉴바-->
  <div class = "container">
    <div class = "row">
      <nav class="navbar navbar-default navbar-fixed-top">

        <div class = "col-md-6">
                <ul class="nav navbar-nav" id="menu_font" style="padding-left:70px">
                      <li>
                          <a href="/"><img src="http://i.imgur.com/juFJWOd.png"/></a>
                      </li>
                      <li class="page-scroll">
                        <% if current_page?(controller: 'book', action: 'real_main') %>
                            <a id="11" class="scroll-down1"  href="/freeboard/freeboards" style = "margin-top: 17px; font-size:20px;">공지사항</a>
                        <% else %>
                            <a id="11" class="scroll-down1"  href="/freeboard/freeboards" style = "margin-top: 17px; font-size:20px;">공지사항</a>
                        <% end %>
                      </li>
                      <li>
                          <a id="11" class="page-scroll" href="/book/main" style="margin-top: 17px; font-size:20px;">예약하기</a>
                      </li>

                      <li class="page-scroll">
                          <% if current_page?(controller: 'book', action: 'real_main') %>
<a id="11"  data-toggle="modal" data-target="#send_message" id="picon1" href="#" style="margin-top: 17px; font-size:20px;">문의하기</a>
                          <% else %>
<a id="11"  data-toggle="modal" data-target="#send_message" id="picon1" href="#" style="margin-top: 17px; font-size:20px;">문의하기</a>
                          <!--<a id="11" class="scroll-down1" href="/book/real_main#bottom" style="margin-top: 17px; font-size:20px;">문의하기</a>-->
                          <% end %>
                      </li>
                </ul>
        </div>
        <div class = "col-md-6 col-offset-md-3">
                <ul class="nav navbar-nav navbar-right" id="menu_font" style="padding-right:100px">

                    <% if current_user %> <!-- 로그인이 되어 있다면 -->
                      <li>
                        <p id="11" href="#" class="page-scroll" style="margin-top: 30px; font-size: 15px;color: #333131;"><%= current_user.student_name %> 님 반갑습니다.</p>
                      </li>

                      <li>
                       <a id="11" class="page-scroll" href="/book/mypage" style = "margin-top: 17px; font-size:20px">마이페이지</a>
                       </li>

                      <%if current_user.email=="admin@kangwon.ac.kr"%>
                        <li>
                          <a id="11" class="page-scroll" href="/book/admin_menu" style = "margin-top: 17px; font-size:20px">관리자 메뉴</a>
                        </li>
                      <%end%>
                      <!-- <li>-->
                      <!--  <a id="11" class="page-scroll" href="/users/edit" style = "margin-top: 17px; font-size:20px">회원정보 수정</a>-->
                      <!--</li>-->

                      <li>
                        <a id="11" class="page-scroll" href="/users/sign_out" style="margin-top: 17px; font-size:20px">로그아웃</a>
                      </li>

                    <%else%>    <!-- 로그인 안됨 -->

                     <li>
                       <a id="11" class="page-scroll" href="/users/sign_in" style = "margin-top: 17px; font-size:20px">로그인</a>
                     </li>

                     <!--<li>-->
                     <!--  <a id="11" class="page-scroll" href="/book/mypage" style = "margin-top: 17px; font-size:20px">마이페이지</a>-->
                     <!--</li>-->

                     <li>
                       <a id="11" class="page-scroll" href="/users/sign_up" style = "margin-top: 17px; font-size:20px">회원가입</a>
                     </li>

                    <%end%>

                </ul>
        </div>
      </nav>
    </div>
  </div> <!-- 상단 고정 메누바 끝 -->

      <%= yield %>


  <!--마지막 copyright 부분-->
  <footer>
    <center>
      <div style="background-color:#0C5838;" id="menu_font">
      <br>
        <br>
        <p style = "color: white; font-size:19px;">Copyright © Company Kang Won 2016, All Rights Reserved.<br></p>
        <br>
      <br>
      </div>
    </center>
  </footer>


      <!--<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>-->
      <script type="text/javascript" src="http://www.ironsummitmedia.com/js/modernizr.custom.82681.js"></script>
      <script type="text/javascript" src="http://www.ironsummitmedia.com/js/jquery.easing.1.3.js"></script>
      <script type="text/javascript" src="http://www.ironsummitmedia.com/js/custom.js"></script>
      <!--<script type="text/javascript" src="application.js"> </script>-->

      <!--달력-->
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
      <script src="http://code.jquery.com/ui/1.8.18/jquery-ui.min.js"></script>


  </body>
</html>
